---
import Header from '../Header.astro';
import GardenIntro from './GardenIntro.svelte';
import GardenStickyBar from './GardenStickyBar.svelte';
import GardenCards from './GardenCards.svelte';
import GardenStrip from './GardenStrip.svelte';

interface Props {
  title: string;
  description: string;
  posts: any[];
  sortedTags: string[];
}
const { title, description, posts, sortedTags } = Astro.props;
---

<Header />
<main>
  <GardenIntro title={title} description={description} />
  <!-- <GardenStickyBar title={title} sortedTags={sortedTags} /> -->
  <GardenCards posts={posts} client:visible />
</main>
<GardenStrip posts={posts} />
