---
export interface Props {
  header: string;
  description: string;
  icon: string;
  iconAlt?: string;
  href?: string;
}

const { header, description, icon, iconAlt = header, href } = Astro.props;

const cardClasses = "data-card bg-cardbg border border-card-border shadow-lg rounded-lg p-5 w-full hover:scale-95 transition-all duration-300 h-80 flex flex-col items-center justify-between";
---

{href ? (
  <a href={href} class={`${cardClasses} block`}>
    <div>
      <h3 class="text-xl uppercase">{header}</h3>
      <p>{description}</p>
    </div>
    <div class="w-full object-contain">
      <img src={icon} alt={iconAlt} class="h-15 w-15"/>
    </div>
    <div class="rotate-180">
      <h3 class="text-xl uppercase">{header}</h3>
      <p>{description}</p>
    </div>
  </a>
) : (
  <div class={cardClasses}>
    <div>
      <h3 class="text-xl uppercase">{header}</h3>
      <p>{description}</p>
    </div>
    <img src={icon} alt={iconAlt} class="h-15 w-15" />
    <div class="rotate-180">
      <h3 class="text-xl uppercase">{header}</h3>
      <p>{description}</p>
    </div>
  </div>
)}
