---
import FormattedDate from './FormattedDate.astro';
import Image from './mdxComponents/Image.astro';
import Type from './type.astro';
import H3 from './mdxComponents/H3.astro';
import P from './mdxComponents/P.astro';
import { getMaturityIcon } from '../utils/maturityIcons';

interface Props {
  title: string;
  description: string;
  date: Date;
  url: string;
  heroImage?: string;
  imageClass?: string;
  maturity?: 'seed' | 'plant' | 'tree';
}

const { title, description, date, url, heroImage, imageClass = '',maturity = 'seed'} = Astro.props;
const iconPath = getMaturityIcon(maturity);
---

<div class="essay-card group" style={`--random-rotation: ${Math.random() * 10 - 5}deg`}>
  <a href={url} class="block rounded-lg overflow-hidden hover:shadow-lg transition-all
    motion-safe:hover:scale-[1.01] motion-safe:active:scale-95
    motion-safe:transform-gpu motion-safe:transition-transform p-5 bg-gray-50 rounded-2xl border-1 border-gray-100 hover:bg-yellow-50 text-gray-900">
    {heroImage && (
      <div class="motion-safe:transform-gpu motion-safe:transition-all motion-reduce:transition-none
        group-hover:-translate-y-1 group-active:translate-y-0">
        <Image
          src={heroImage}
          alt={title}
          class={`w-full h-96 aspect aspect-square object-cover essay-image motion-safe:transition-opacity ${imageClass}`}
        />
      </div>
    )}
    <div class="pt-5">
      <div class="flex gap-2 items-center">
        <img src={iconPath} alt={`${maturity} icon`} class="w-6 h-6 self-start" />
        <H3>{title}</H3>
      </div>
      <P className='text-sm md:text-sm lg:text-base'>{description}</P>
      <div class="flex flex-row gap-4 flex-wrap text-sm items-start text-gray-500">
        <div>Last Updated<FormattedDate date={date} /></div>
        <Type>Essay</Type>
      </div>
    </div>
  </a>
</div>

<style>
  .essay-card {
    transition: transform 0.2s ease;
  }
  .essay-image {
    transition: opacity 0.2s ease;
    transform: rotate(var(--random-rotation));
  }
  .essay-card:hover .essay-image {
    opacity: 0.8;
    transform: rotate(0deg);
    transition: all 0.5s ease;
  }
</style>