---
import FormattedDate from './FormattedDate.astro';
import Image from './mdxComponents/Image.astro';
import Type from './type.astro';
import H3 from './mdxComponents/H3.astro';
import P from './mdxComponents/P.astro';
import { getMaturityIcon } from '../utils/maturityIcons';

interface Props {
  title: string;
  description: string;
  date: Date;
  url: string;
  heroImage?: string;
  imageClass?: string;
  maturity?: 'seed' | 'plant' | 'tree';
}

const { title, description, date, url, heroImage, imageClass = '',maturity = 'seed'} = Astro.props;
const iconPath = getMaturityIcon(maturity);
---

<div class="essay-card group" style={`--random-rotation: ${Math.random() * 10 - 5}deg`}>
  <a href={url} class="block rounded-lg overflow-hidden hover:shadow-lg transition-all
    motion-safe:hover:scale-[1.01] motion-safe:active:scale-95
    motion-safe:transform-gpu motion-safe:transition-transform p-5 bg-gray-50 rounded-2xl border-1 border-gray-100 hover:bg-yellow-50 text-gray-900">
    <div class="flex flex-row lg:flex-col md:flex-row gap-4">
      {heroImage && (
        <div class="motion-safe:transform-gpu motion-safe:transition-all motion-reduce:transition-none
          group-hover:-translate-y-1 group-active:translate-y-0 md:w-1/2 sm:w-2/5 lg:w-full self-center">
          <Image
            src={heroImage}
            alt={title}
            class={`xl:w-full h-auto lg:h-96 md:h-40 sm:h-32 h-32 aspect-square object-cover essay-image motion-safe:transition-opacity ${imageClass}`}
          />
        </div>
      )}
      <div class="pt-5 lg:pt-5 md:pt-0 sm:pt-0 md:w-1/2 sm:w-3/5 lg:w-full">
        <h3 class="text-base md:text-lg font-semibold text-slate-700">{title}</h3>
        <p className='text-sm md:text-kg'>{description}</p>
        <div class="flex flex-row my-2 items-center gap-1 text-stone-500">
            <img src={iconPath} alt={`${maturity} icon`} class="w-4 h-4" />
            <p class="text-xs capitalize mb-0">{maturity}</p>
          </div>
        <div class="flex flex-row gap-4 flex-wrap text-sm items-start text-gray-500">
          <div>Last Updated {date && <FormattedDate date={date} />}</div>
          <Type>Essay</Type>
        </div>
      </div>
    </div>
  </a>
</div>

<style>
  .essay-card {
    transition: transform 0.2s ease;
  }
  .essay-image {
    transition: opacity 0.2s ease;
    transform: rotate(var(--random-rotation));
  }
  .essay-card:hover .essay-image {
    opacity: 0.8;
    transform: rotate(0deg);
    transition: all 0.5s ease;
  }
</style>