---
import FormattedDate from './FormattedDate.astro';
import Type from './type.astro';
import H3 from './mdxComponents/H3.astro';
import P from './mdxComponents/P.astro';
import { getMaturityIcon } from '../utils/maturityIcons';


interface Props {
  title: string;
  description: string;
  date: Date;
  url: string;
  maturity?: 'seed' | 'plant' | 'tree';
}

const { title, description, date, url, maturity = 'seed' } = Astro.props;
const iconPath = getMaturityIcon(maturity);
console.log({
  maturity,
  iconPath,
  url
});
---

<div class="note-card group border-b-1 border-gray-300">
  <a href={url} class="block py-4 rounded-lg hover:bg-yellow-50 transition-colors
    motion-safe:hover:scale-[1.01] motion-safe:active:scale-95
    motion-safe:transform-gpu motion-safe:transition-transform p-5">

    <div class="motion-safe:transform-gpu motion-safe:transition-all motion-reduce:transition-none
      group-hover:-translate-y-1 group-active:translate-y-0">
      <H3 class="flex items-center my-0">{title}</H3>
      <p className='text-sm'>{description}</p>
      <div class="flex flex-row my-2 items-center gap-1 text-stone-500">
            <img src={iconPath} alt={`${maturity} icon`} class="w-4 h-4" />
            <p class="text-xs capitalize mb-0">{maturity}</p>
          </div>
      <div class="flex flex-row gap-4 flex-wrap text-sm items-start text-gray-500">
          <div>Last Updated<FormattedDate date={date} /></div>
          <Type>Essay</Type>
        </div>
    </div>
  </a>
</div>

<style>
  .note-card {
    transition: all 0.2s ease;
  }
</style>