---
import FormattedDate from './FormattedDate.astro';
import Image from './mdxComponents/Image.astro';

import SmallText from './mdxComponents/SmallText.astro';
import H3 from './mdxComponents/H3.astro';


interface Props {
  title: string;
  url: string;
  heroImage: string;
  company: string;
  role?: string;
}

const {
  title,
  url,
  heroImage,
  company,
  role,
} = Astro.props;
---

<div class="case-study-card m-0 negativeMargin">
  <a href={url} class="rounded-l overflow-hidden hover:bg-yellow-100">
    <img src={heroImage} alt={title} class="w-full aspect-video transition-opacity case-study-image m-0 " />
    <div class="p-0 m-0 negativeMargin">
      <H3 class="text-xl font-bold mb-2 mt-0 ">{title}</H3>
      <SmallText className="text-gray-600 text-sm block">
        {company} {role && `• ${role}`}
      </SmallText>
    </div>
  </a>
</div>

<style>
  .case-study-card:hover .case-study-image {
    opacity: 0.8;
  }
  img{
      width: 100%;
      max-height: 250px;
      height: 250px;
    }
  .negativeMargin{
    margin-top: -20px;
  }


</style>