---
import FormattedDate from './FormattedDate.astro';
import Image from './mdxComponents/Image.astro';

import SmallText from './mdxComponents/SmallText.astro';
import H3 from './mdxComponents/H3.astro';


interface Props {
  title: string;
  url: string;
  heroImage: string;
  company: string;
  role?: string;
}

const {
  title,
  url,
  heroImage,
  company,
  role,
} = Astro.props;
---

<div class="case-study-card group rounded-lg motion-safe:hover:scale-[1.02] motion-safe:active:scale-95
  motion-safe:transform-gpu motion-safe:transition-transform" style={`--random-rotation: ${Math.random() * 6 - 3}deg`}>
  <a href={url} class="block rounded-lg overflow-hidden mt-5 bg-stone-50 p-5 border-1 border-stone-100 hover:bg-yellow-50">
    <div class="motion-safe:transform-gpu motion-safe:transition-all motion-reduce:transition-none
      group-hover:-translate-y-1 group-active:translate-y-0">
      <img src={heroImage} alt={title} class="h-48 aspect-video transition-opacity case-study-image" />
      <div class="p-0 mt-5">
        <h3 class="text-xl">{title}</h3>
        <SmallText className="text-gray-600 text-sm block">
          {company} {role && `• ${role}`}
        </SmallText>
      </div>
    </div>
  </a>
</div>

<style>
  .case-study-card {
    transition: transform 0.2s ease;
  }
  .case-study-image {
    transform: rotate(var(--random-rotation));
    transition: all 0.2s ease;
  }
  .case-study-card:hover .case-study-image {
    opacity: 0.8;
    transform: rotate(0deg);
    transition: all 0.5s;
  }
</style>