---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BookCard from '../../components/BookCard.astro';
import Main from '../../components/Main.astro';
import H2 from '../../components/mdxComponents/H2.astro';

const allBooks = await getCollection('books');

const readingBooks = allBooks
  .filter(book => ['reading', 'completed'].includes(book.data.readStatus))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const toReadBooks = allBooks
  .filter(book => book.data.readStatus === 'to-read')
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Main>
			<section class="mt-20">
				<H2>Currently Reading & Completed</H2>
				<ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-8">
					{readingBooks.map((book) => (
						<li>
							<BookCard
								title={book.data.title}
								description={book.data.description}
								date={book.data.pubDate}
								url={`/books/${book.id}/`}
								heroImage={book.data.heroImage}
								author={book.data.author}
								readStatus={book.data.readStatus}
							/>
						</li>
					))}
				</ul>
			</section>

			<section class="mt-20">
				<H2>Reading List</H2>
				<ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-8">
					{toReadBooks.map((book) => (
						<li>
							<BookCard
								title={book.data.title}
								description={book.data.description}
								date={book.data.pubDate}
								url={`/books/${book.id}/`}
								heroImage={book.data.heroImage}
								author={book.data.author}
								readStatus={book.data.readStatus}
							/>
						</li>
					))}
				</ul>
			</section>
		</Main>
		<Footer />
	</body>
</html>
