---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Main from '../components/Main.astro';
import NoteMain from '../components/NoteMain.astro';
import P from '../components/mdxComponents/P.astro';
import H2 from '../components/mdxComponents/H2.astro';
import H1 from '../components/mdxComponents/H1.astro';
import H3 from '../components/mdxComponents/H3.astro';
import Image from '../components/mdxComponents/Image.astro';
import PostMeta from '../components/mdxComponents/PostMeta.astro';
import { getMaturityIcon } from '../utils/maturityIcons';
import Link from '../components/mdxComponents/Link.astro'
import TableOfContents from '../components/TableOfContents.astro';

type Props = CollectionEntry<'notes'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags = [],maturity,collection } = Astro.props;
const maturityIcon = getMaturityIcon(maturity);
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <div class={`max-w-[90rem] mx-auto px-4 md:px-8 xl:px-12`}>
        <div class={`${collection !== 'works' ? 'block xl:grid xl:grid-cols-[250px_1fr] xl:gap-16 lg:mt-30' : ''}`}>
          {collection !== 'works' && <TableOfContents collection={collection} />}
          
          <NoteMain>
            <div class="max-w-[65ch] mx-auto">
              <PostMeta
                tags={tags}
                pubDate={pubDate}
                updatedDate={updatedDate}
                collection={collection}
                maturity={maturity}
                title={title}
                description={description}
              />

              <div class="hero-image w-full mt-8">
                {heroImage && (
                  <Image
                    src={heroImage}
                    alt=""
                    class="w-full h-auto object-cover rounded-lg"
                    loading="eager"
                  />
                )}
              </div>
              <div class="w-full">
                <slot />
              </div>
            </div>
          </NoteMain>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<!-- Keep your global styles -->